* {
    background-color: #F5EDED;
    font-family:"Quicksand", sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
    padding: 0;
    

}



.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
     
}


main {
    display: flex;
    padding: 4% 15%;
 

}


.text-area {
    border: none;
    color: #6482AD;
    margin-top: 90px;
    padding-bottom: 57%;
    text-transform: lowercase;

}

::placeholder {color: #6482AD;}
    .text-area:focus {
        outline: none;
    }

.message {
    background: white;
    background-image: url(./assets/person.png);
    background-position: 10px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #6482AD;
    display: flex;
    flex-direction: column;
    margin: 0% 0% 0% 20%;
    height: 80%;
    padding-bottom: 32px;
    position: absolute;
    
}    
.message:focus{
    outline: none;
}

.botton {
    display: flex;
    margin-top: 2%;
    

}
   
.btn-desencriptar {
    background-color: #6482AD;
    border: 1px solid #7FA1C3;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #6482AD;
    border: 1px solid #7FA1C3;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copy {
    border: 1px solid #7FA1C3;
    border-radius: 24px;
    color:#6482AD;
    cursor: pointer;
    margin:  0% 0% 0% 22%;
    margin-top: 36%;
    position: absolute;
    height: 67px;
    width: 260px;
    
}


.info h6 {
    
    color: #7FA1C3;
    font-size: 19px;


}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

}

footer ul {
    display: flex;
    gap: 9px;
    list-style: none;
    font-size: 1.0rem;
    font-weight: 400; 
    color:#6482AD;
}



